chromadb==0.4.23
ipython==8.12.3
llama_index==0.10.20
llama-index-embeddings-openai==0.1.6
llama-index-llms-openai==0.1.12
llama-index-vector-stores-chroma==0.1.6
matplotlib
openai==1.19.0
pandas
python-dotenv
requests
streamlit

